# dot/hidden files
**/.DS_Store
.env
.env_*
.env.*
!etl/**/.env_example
.pylintrc
.python-version
.venv
.vscode/settings.json

# files by extension
*.bak
*.csv
*.html
*.ini
*.json
!etl/**/transformations/*.json
!schema/schema.json
!schema/sample_data.json
*.log
*.log.*
*.pickle
*.so
*.tsv
*.txt
*.xlsx
*.yaml
*.yml
!conda_environment.yml

# directories
__pycache__/
.pytest_cache/
backup/
bin/
build/
dist/
env/
lib/
lib64/
obj/
var/
venv/
wheels/
