# dot/hidden files
**/.DS_Store
.env
.env_*
.env.*
.pylintrc
.python-version
.venv
.vscode/settings.json
!**/.env_example

# files by extension
*.bak
*.csv
*.html
*.ini
*.json
*.sh
*.log
*.log.*
*.pickle
*.so
*.tsv
*.txt
*.xlsx
*.yaml
*.yml
!conda_environment.yml
!etl/**/transformations/*.json
!mapping_unpivoter/C3DC Mappings.xlsx
!schema/schema.json
!schema/sample_data.json

# directories
__pycache__/
.pytest_cache/
backup/
bin/
build/
dist/
env/
lib/
lib64/
obj/
var/
venv/
wheels/
