JSON_SCHEMA_URL='https://raw.githubusercontent.com/chicagopcdc/c3dc_etl/main/schema/schema.json'
TRANSFORMATIONS_URL='file:////local/path/to/c3dc_transformations.json'
#TRANSFORMATIONS_URL='https://raw.githubusercontent.com/chicagopcdc/c3dc_etl/main/etl/c3dc_transformations.json'
TRANSFORMATIONS_CONFIG='[
    {
        "name": "TARGET_NBL_ClinicalData_Discovery_20220125.xlsx",
        "source_file_path": "/path/to/TARGET_NBL_ClinicalData_Discovery_20220125.xlsx",
        "output_file_path": "/path/to/TARGET_NBL_ClinicalData_Discovery_20220125.json",
        "uuid_seed": "TARGET_NBL_ClinicalData_Discovery_20220125.xlsx",
        "active": true
    },
    {
        "name": "TARGET_NBL_ClinicalData_Validation_20220125.xlsx",
        "source_file_path": "/path/to/TARGET_NBL_ClinicalData_Validation_20220125.xlsx",
        "output_file_path": "/path/to/TARGET_NBL_ClinicalData_Validation_20220125.json",
        "uuid_seed": "TARGET_NBL_ClinicalData_Validation_20220125.xlsx",
        "active": true
    }
]'
